@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
nav{
    padding: 0.7em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #ad7d00;
  z-index: 2;
    font-family: 'Spectral', serif;
  font-size: 0.9em;
  background-color: #ffc017;
    width: 100%;
}
.nav-moved{
    background-color: white;
    transition: background-color 500ms linear;
}
.nav-moved ul li:nth-of-type(5){
    background-color: #1a8917;
    color: white;
    border-radius: 40px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 10px;
  list-style: none;
}
nav ul li{
  padding: 0.5em 0.5em;
}
ul li:hover{
    cursor: pointer;
}
nav ul li:nth-of-type(5){
  background-color: #191919;
  color: white;
    padding: 0.6em 0.8em;
  border-radius: 30px;
}
nav ul li:nth-of-type(5):hover{
    background-color: black;
}
.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo img:hover{
    cursor: pointer;
}
header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #ffc017;
  padding-left: 10%;
}
header h1{
  font-family: 'Spectral', serif;
  font-weight: normal;
  letter-spacing: -11px;
  font-size: 7em;
  margin: 0;
}
svg {
  width: 100%;
}
.top-left-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5em;
  padding-left: 5em;
  height: 90%;
}
.top-left-cont h1{
  white-space: nowrap;
}
header a {
  text-decoration: none;
  color: white;
  background-color: #191919;
  padding: 0.4em 2em;
  border-radius: 50px;
  max-width: 6em;
}
header a:hover{
    background-color: black;
}
.top-row, .down-row{
  display: flex;
  padding: 0 3em;
}
section{
  padding: 1% 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;

}
.trending{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-left: 4em;
}
.trending, .trend-logo, .trend-title{
  font-weight: bold;
}
.trend-logo{
  font-size: 85%;
}
.trend{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1em;
  width: 31%;
}
.trend div{
  padding-top: 0.6em;
}
.trend-number{
  font-size: 2.5rem;
  color: lightgrey;
}
.trend-logo{
  display: flex;
  align-items: center;
}
.trend-logo img{
  border-radius: 50%;
  width: 30px;
}
.trend-data{
  display: flex;
  align-items: center;
}
main{
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding-top: 4em;
}
.main-left{
  display: flex;
  flex-direction: column;
  height: 20%;
}
.main-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.sticky-container {
  position: sticky;
  top: 10%;
  right: 0;
}
article{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2% 0;
}
article h2{
  margin: 1% 0 0 0;
}
.article-body{
  display: flex;
  flex-direction: column;
  width: 65%;
}
.article-footer{
  display: flex;
  justify-content: space-between;
}
.article-footer:hover, .article-img:hover, .article-body:hover{
    cursor: pointer;
}
.separator{
  display: flex;
  justify-content: center;
  align-items: center;
}
.author{
  display: flex;
  align-items: center;
}
.author img{
  border-radius: 100%;
  width: 25px;
}
.article-body .article-img{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;

}
article .article-img img{
  width: 200px;
  padding-left: 1em;
}
.main-right ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer-tag li{
  border-radius: 20px;
    background-color: #eeeeee;
  padding: 0.6em;
    font-family: 'Spectral', serif;
    font-size: 90%;
}
.footer-tag li:hover{
    background-color: #a2a2a2;
}
@media screen and (max-width: 900px){
    body,html{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .top-left-cont{
        width: 20%;
        padding: 7em 0;
        justify-content: center;
        white-space: nowrap;
        z-index: 1;
    }
    header a {
        text-decoration: none;
        color: white;
        background-color: #191919;
        padding: 0.4em 2em;
        border-radius: 50px;
        width: 6em;
    }
    .svg-cont {
        position: relative;
    }
    main{
        width: 100%;
        flex-direction: column;
    }
    .main-right{
        order: 1;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .sticky-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 90%;
    }
    .main-left{
        order: 2;
    }
    section{
        width: 100%;
        padding: 0;
    }
    .top-row, .down-row{
        flex-direction: row;
        padding: 0;
    }
    .trend{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        padding: 1em;
        width: 30%;
        min-width: 30%;
    }

}
@media screen and (max-width: 540px){
    body,html{
        width: 95%;
    }
    nav{
        width: 100vw;
    }
    nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(3){
        display: none;

    }
    .svg-cont{
        display: none;
    }
    header{
        width: 100%;
        justify-content: center ;
        flex-direction: column;
        font-size: 90%;
    }
    header h1{
        font-size: 5rem;
    }
    .top-left-cont{
        padding: 8% 0;
    }
    main{
        width: 100%;
        flex-direction: column;
    }
    .main-right{
        order: 1;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .sticky-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 90%;
    }
    .main-left{
        order: 2;
    }
.top-row, .down-row{
    flex-direction: column;
    align-items: flex-end;
}
    section{
        width: 98%;
        padding: 6% 8%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;

    }
.trend{
    width: 100%;
}
article{
   padding-left: 1em;
}
    article .article-img img{
        width: 150px;
    }

}
